body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

.h_highlight{
    color: orange;
}

.half_width {
    width: 40%;
    float: left;
    margin-left:4%;
    padding: 2%;
}

.half_width img{
    width: 100%;
}

.top_banner{
    background-image: url("images/top-banner.png");
    height: 600px;
    background-repeat: no-repeat;
}

.gh_link{
    text-decoration-line: none;
    background-color:orange;
    font-weight: 600;
    color: aliceblue;
    margin: 1px 3px;
    font-size: 0.9em;
    padding: 3px 16px ;
    border-radius: 4px;
}
.gh_link:hover{
    background-color: rgb(51, 207, 37);
    color: pink;
}

.dream_big{
    background-image: url(images/dream-bg.png);
    height: 600px;
    background-repeat: no-repeat;
    background-position: right;

}
